menu "WiFi Manager Configuration"

config ESP_WIFI_RETRY_INTERVAL_MS
    int "Retry interval (ms)"
    default 5000

config ESP_WIFI_STA_SSID
    string "Station SSID"
    default "myssid"

config ESP_WIFI_STA_PASSWORD
    string "Station password"
    default "mypassword"

config ESP_WIFI_AP_SSID
    string "AP SSID"
    default "esp32_ap"

config ESP_WIFI_AP_PASSWORD
    string "AP password"
    default "12345678"

config ESP_WIFI_AP_CHANNEL
    int "AP channel"
    default 1

config ESP_MAX_STA_CONN_AP
    int "Max STA connections"
    default 4

endmenu