menu "Configuration Thermostat"

    menu "Réseau et Cloud"
    rsource "../components/email_service/Kconfig.email"
    rsource "../components/freebox_ftp/Kconfig.ftp"
    rsource "../components/jeedom/Kconfig.jeedom"
    rsource "../components/time_utils/Kconfig.time"
    rsource "../components/wifi/Kconfig.wifi"
    endmenu

    menu "Matériel et Capteurs"
    rsource "../components/led_ctrl/Kconfig.led"
    rsource "../components/relay/Kconfig.relay"
    rsource "../components/sd_card/Kconfig.sd"
    rsource "../components/i2c_manager/Kconfig.i2c"
    rsource "../components/config_storage/Kconfig.storage"
    endmenu
    
    menu "Expert"
    rsource "../components/alert_manager/Kconfig.alert"
    rsource "../components/serial_manager/Kconfig.serial"
    rsource "../components/tasks/Kconfig.task"
    endmenu

endmenu
