<button class="menu-button" onclick="toggleMenu()">&#9776;</button>
<nav id="menu" class="menu-dropdown">
  <div class="menu-label">Menu</div>
  <a href="/" class="menu-item">Thermostat</a>
  <a href="/ssd1306" class="menu-item">Afficheur</a>
  <a href="/alarms" class="menu-item">Alarmes</a>
  <a href="/sd" class="menu-item">Carte SD</a>
  <a href="/sht31" class="menu-item">Capteur SHT31</a>
  <a href="/freebox" class="menu-item">Freebox</a>
  <a href="/i2c" class="menu-item">I2C</a>
  <a href="/jeedom" class="menu-item">Jeedom</a>
  <a href="/led" class="menu-item">Led</a>
  <a href="/logs" class="menu-item">Logs</a>
  <a href="/ssd1306" class="menu-item">Afficheur</a>
  <a href="/program" class="menu-item">Programme</a>
  <a href="/relay" class="menu-item">Relais</a>
  <a href="/sys" class="menu-item">Système</a>
  <a href="/tasks" class="menu-item">Tâches</a>
  <a href="/time" class="menu-item">Time</a>
  <a href="/weather" class="menu-item">Météo</a>
  <a href="/wifi" class="menu-item">Wifi</a>
</nav>
