 menu "Email Configuration"

    config SMTP_USER
        string "User"
        default "dup.cordon@gmail.com"

    config SMTP_PASS
        string "Password"
        default "sxul btjb alns gpzk"

    config SMTP_RCPT_TO
        string "Send To"
        default "dup.cordon@gmail.com"


endmenu
